<div style="display: inline-flex;">
<h2 mat-dialog-title>Transaction List</h2>
<mat-dialog-actions align="end" style="margin-left: 65%;">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
</div>
<div mat-dialog-content *ngIf="getData && getData.length > 0; else noData">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width-table">

    <!-- Index Column -->
    <ng-container matColumnDef="transactionId">
      <th mat-header-cell *matHeaderCellDef>TransactionId</th>
      <td mat-cell *matCellDef="let data">{{ data.transactionId }}</td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="transferFromCompanyEmail">
      <th mat-header-cell *matHeaderCellDef>TransferFromCompanyEmail</th>
      <td mat-cell *matCellDef="let data">{{ data.transferFromCompanyEmail }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="transferToCompanyEmail">
      <th mat-header-cell *matHeaderCellDef>TransferToCompanyEmail</th>
      <td mat-cell *matCellDef="let data">{{ data.transferToCompanyEmail }}</td>
    </ng-container>

    <ng-container matColumnDef="paymentDate">
        <th mat-header-cell *matHeaderCellDef>paymentDate</th>
        <td mat-cell *matCellDef="let data of getData">{{ data.paymentDate | date: 'short' }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let data">{{ data.status }}</td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<ng-template #noData>
  <p>No banks found.</p>
</ng-template>