<!-- <ng-Content/> -->


    <div style="border: solid 5px magenta;">
        <ng-Content/>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Ipsum iste hic similique ducimus officiis voluptatibus illum  ut necessitatibus, 
      iusto nobis aut. Iste, molestias. Dolor consequatur molestias alias natus. Ipsum, facere?</p>
      <button style="margin-left: 35%; background-color: green; color: white; font-weight: bold; border: none; border-radius: 50px;">Show More</button>
  </div>
  <!-- <div style="border: solid 5px red;">
    <ng-Content select=".Samsang"/>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br/>
      Ipsum iste hic similique ducimus officiis voluptatibus illum <br/> ut necessitatibus, 
      iusto nobis aut. Iste, molestias.<br/> Dolor consequatur molestias alias natus. Ipsum, facere?</p>
      <button style="margin-left: 30%;">Show More</button>
  </div>
  <div style="border: solid 5px red;">
    <ng-Content select=".Redmi"/>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br/>
      Ipsum iste hic similique ducimus officiis voluptatibus illum <br/> ut necessitatibus, 
      iusto nobis aut. Iste, molestias.<br/> Dolor consequatur molestias alias natus. Ipsum, facere?</p>
      <button style="margin-left: 30%;">Show More</button>
  </div>
  <div style="border: solid 5px red;">
    <ng-Content select=".Oppo"/>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br/>
      Ipsum iste hic similique ducimus officiis voluptatibus illum <br/> ut necessitatibus, 
      iusto nobis aut. Iste, molestias.<br/> Dolor consequatur molestias alias natus. Ipsum, facere?</p>
      <button style="margin-left: 30%;">Show More</button>
  </div> -->
