<div class="dashboard-cards">
    <mat-card class="card get-card" >
      <mat-card-title>All OutBound Beneficiary</mat-card-title>
      <mat-card-content>
        <p>View the list of all outbound beneficiaries</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="get()">VIEW</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card post-card" >
      <mat-card-title>Add OutBound Beneficiary</mat-card-title>
      <mat-card-content>
        <p>add new outbound beneficiary</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="add()">ADD</button>
      </mat-card-actions>
    </mat-card>
    </div>