<div>
  <h2 style="color: white; text-align: center;">
    TRANSACTION CONTROLLER
  </h2>
</div>
<div class="dashboard-cards">
  <mat-card class="card get-card" (click)="get()">
    <mat-card-title>Get Updated Company Transactions</mat-card-title>
    <mat-card-content>
      <p>View all transactions updated by you</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" >VIEW</button>
    </mat-card-actions>
  </mat-card>

    <mat-card class="card update-card" (click)="update()">
      <mat-card-title>Update Pendeing Company Transactions</mat-card-title>
      <mat-card-content>
        <p>Change status of transactions</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="warn" >UPDATE</button>
      </mat-card-actions>
    </mat-card>
    
</div>