<div style="display: inline-flex;">
<h2 mat-dialog-title>Pending Companies List</h2>

<mat-dialog-actions align="end" style="margin-left: auto; margin-right: 0%;">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
</div>
<!-- Search Box -->
<div style="margin-bottom: 10px;">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Search Pending Company</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Type to search...">
  </mat-form-field>
</div>

<div mat-dialog-content *ngIf="getData && getData.length > 0; else noData">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width-table">

    <!-- Index Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">No.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="companyEmail">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;">CompanyEmail</th>
        <td mat-cell *matCellDef="let element">{{ element.companyEmail }}</td>
      </ng-container>

    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">CompanyName</th>
      <td mat-cell *matCellDef="let element">{{ element.companyName }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="aadharFilePath">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">AadharFilePath </th>
      <td mat-cell *matCellDef="let element">
        <a [href]="element.aadharFilePath" target="_blank">View Aadhar<mat-icon>open_in_new</mat-icon></a>
      </td>
      
    </ng-container>

    <ng-container matColumnDef="panFilePath">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;">PanFilePath</th>
        <td mat-cell *matCellDef="let element">
            <a [href]="element.panFilePath " target="_blank">View Pan <mat-icon>open_in_new</mat-icon></a>
          </td>
      </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action1" >
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Action</th>
      <td mat-cell *matCellDef="let element" style="display: inline-flex; gap: 20px;">
        <button mat-raised-button color="warn" style="background-color: red; color: white;" (click)="rejectCompany(element.companyEmail, element.companyName)">
            Reject
          </button>
          <button mat-raised-button color="warn" style="background-color: blue; color: white;" (click)="approveCompany(element.companyEmail, element.companyName)">
            Approved
          </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<ng-template #noData>
  <p>No companies found.</p>
</ng-template>
