<!-- <app-logout></app-logout> -->
<div>
  <h2 style="color: white; text-align: center;">
    BANK CONTROLLER
  </h2>
</div>
<div class="dashboard-cards">
    <mat-card class="card get-card" (click)="view()">
      <mat-card-title>All Bank Details</mat-card-title>
      <mat-card-content>
        <p>View the details of all bank</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" >VIEW</button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="card post-card" (click)="Add()">
      <mat-card-title>Add Bank</mat-card-title>
      <mat-card-content>
        <p>Create a new bank</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent" >ADD</button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="card delete-card" (click)="remove()">
      <mat-card-title>Remove Bank</mat-card-title>
      <mat-card-content>
        <p>Delete bank access using email</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="warn" >REMOVE</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card get-card" (click)="id()">
        <mat-card-title>Get Bank by Email</mat-card-title>
        <mat-card-content>
          <p>View bank using their email</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" >VIEW</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card update-card" (click)="update()">
        <mat-card-title>Update Bank Password</mat-card-title>
        <mat-card-content>
          <p>Change a bank's password using their email</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="warn" >UPDATE</button>
        </mat-card-actions>
      </mat-card>
      
  </div>
  