<div>
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()" class="admin-form-container">
      <div class="form-header">
        <h2>Add Bank</h2>
        <mat-dialog-actions align="end" style="margin-left: auto; margin-right: 0%;">
          <button mat-button mat-dialog-close>Close</button>
        </mat-dialog-actions>
      </div>
    
      <div class="form-group">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>BankEmail</mat-label>
          <input matInput formControlName="bankEmail" placeholder="Enter email" required>
          <mat-error *ngIf="adminForm.get('bankEmail')?.invalid">Valid email required</mat-error>
        </mat-form-field>
      </div>
    
      <div class="form-group">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Bank Name</mat-label>
          <input matInput formControlName="bankName" placeholder="Enter BankName" required>
          <mat-error *ngIf="adminForm.get('bankName')?.invalid">BankName required</mat-error>
        </mat-form-field>
      </div>
    
      <div class="form-group">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="bankPassword" placeholder="Enter password" required>
          <button mat-icon-button 
                matSuffix 
                (click)="togglePasswordVisibility()" 
                [attr.aria-label]="'Hide password'" 
                [attr.aria-pressed]="!hidePassword"
                type="button">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="adminForm.get('bankPassword')?.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="adminForm.get('bankPassword')?.hasError('minlength')">Password must be at least 6 characters long</mat-error>
        <mat-error *ngIf="adminForm.get('bankPassword')?.hasError('pattern')">Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>BranchCode</mat-label>
          <input matInput formControlName="branchCode" placeholder="Enter BranchCode" required>
          <mat-error *ngIf="adminForm.get('branchCode')?.invalid">BranchCode required</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>BankAddress</mat-label>
          <input matInput formControlName="bankAddress" placeholder="Enter Address" required>
          <mat-error *ngIf="adminForm.get('bankAddress')?.invalid">BankAddress required</mat-error>
        </mat-form-field>
      </div>
    
      <div class="form-action">
        <button mat-raised-button color="primary" type="submit" [disabled]="adminForm.invalid" [disabled]="isLoading" class="submit-btn">
          <span *ngIf="!isLoading">Add Bank</span>
          <mat-spinner *ngIf="isLoading" diameter="20" [strokeWidth]="2"></mat-spinner>
        </button>
      </div>
    </form>
  </div>
  