<!-- <app-logout></app-logout> -->

<div class="dashboard-cards">
  <mat-card class="card get-card" >
    <mat-card-title>All Audit Logs</mat-card-title>
    <mat-card-content>
      <p>View all audit logs</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="view()">VIEW</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card get-card" >
    <mat-card-title>All Audit Logs By UserId</mat-card-title>
    <mat-card-content>
      <p>Search all audit logs by userId</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="viewbyid()">SEARCH</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card get-card" >
    <mat-card-title>All Audit Logs By Date</mat-card-title>
    <mat-card-content>
      <p>Search all audit logs by date</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="viewbydate()">SEARCH</button>
    </mat-card-actions>
  </mat-card>
  

  
    
</div>
