<div *ngIf="!loggedIn" class="login-content">
  <mat-card style="max-width: 400px; margin: 2rem auto; margin-left: 10%;">
    <form (ngSubmit)="onSubmit() ">
      <h2>Login</h2>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="userEmail" [(ngModel)]="userEmail" style="color: white;" required />
        <mat-error>Email is required</mat-error>
        <mat-error>Invalid email format</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput 
               [type]="hidePassword ? 'password' : 'text'" 
               name="password" 
               [(ngModel)]="password" 
               required 
               style="color: white;" />
        
        <button mat-icon-button 
                matSuffix 
                (click)="togglePasswordVisibility()" 
                [attr.aria-label]="'Hide password'" 
                [attr.aria-pressed]="!hidePassword"
                type="button">
          <mat-icon style="color: white;">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      
        <mat-error>Password is required</mat-error>
      </mat-form-field>
      

      <re-captcha siteKey="6LcnuyIrAAAAALX5-LOr4czGMBECQbtI-e9iaW40" (resolved)="onCaptchaResolved($event)" required></re-captcha>


      <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">
        <span *ngIf="!isLoading">Submit</span>
        <mat-spinner *ngIf="isLoading" diameter="20" [strokeWidth]="2"></mat-spinner>
      </button>
      <button mat-raised-button color="primary" type="button" routerLink="/register/register-company">Register Company</button>
    </form>
  </mat-card>
</div>
<router-outlet *ngIf="loggedIn"></router-outlet>