<div class="dashboard-cards">
  <mat-card class="card get-card">
    <mat-card-title>All Employee</mat-card-title>
    <mat-card-content>
      <p>View the list of all employees</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="get()">VIEW</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card post-card">
    <mat-card-title>Add Employee</mat-card-title>
    <mat-card-content>
      <p>add new employees</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="add()">ADD</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="card post-card">
    <mat-card-title>Employee Salary Distribution</mat-card-title>
    <mat-card-content>
      <p>send salary to employees</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="addSalary()">ADD</button>
    </mat-card-actions>
  </mat-card>
</div>