<div style="display: inline-flex;">
<h2 mat-dialog-title>Audit Logs</h2>
<mat-dialog-actions align="end" style="margin-left: auto; margin-right: 0%;">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
</div>
<!-- Search Box -->
<div style="margin-bottom: 10px;">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Search Logs</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Type to search...">
  </mat-form-field>
</div>

<div mat-dialog-content *ngIf="getData && getData.length > 0; else noData">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width-table">

    <!-- Index Column -->
    <ng-container matColumnDef="auditId">
      <th mat-header-cell *matHeaderCellDef>AuditId</th>
      <td mat-cell *matCellDef="let data">{{ data.auditId }}</td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef>UserId</th>
      <td mat-cell *matCellDef="let data">{{ data.userId }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let data">{{ data.description }}</td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let data">{{ data.time | date: 'short' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Add MatPaginator here -->
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<ng-template #noData>
  <p>No audit logs found.</p>
</ng-template>
