/* main-dashboard.component.css */
.dashboard-container {
    height: 100vh;
  }
  .dashboard-content {
    background-color: rgb(1, 1, 189);
    padding: 20px;
  }
  mat-sidenav {
    background-color: aqua;
    width: 220px;
  }
  